<div class="clr-example">
  <div class="login-wrapper">
    <form class="login">
      <label class="title">Shardis Login Page</label>
      <div class="login-group">
        <input class="username" name="username" type="text" id="login_username" placeholder="Username" [(ngModel)]="username">
        <input class="password" name="password" type="password" id="login_password" placeholder="Password" [(ngModel)]="password">
        <div class="checkbox">
          <input type="checkbox" id="rememberme">
          <label for="rememberme">
            Remember me
          </label>
        </div>
        <div class="error active" *ngIf="authError$ | async">
          {{ authError$ | async }}
        </div>
        <button type="submit" class="btn btn-primary" (click)="authenticate()">LOG IN</button>
        <a href="#" [routerLink]="['/register']" class="signup">Sign up for an account</a>
      </div>
    </form>
  </div>
</div>
