### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### shardis-angular ###
/shardis-angular/build/

/shardis-angular/node/
/shardis-angular/node_modules/
/shardis-angular/npm-debug.log*
/shardis-angular/yarn-error.log*

/shardis-angular/dist/
/shardis-angular/out-tsc/

/shardis-angular/e2e/*.js
/shardis-angular/e2e/*.map

/shardis-angular/coverage/

/shardis-angular/src/main/resources/static/

/shardis-angular/documentation/

### shardis-web ###
/shardis-web/build/

### shardis-common ###
/shardis-common/build/
