### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### shardis-frontend ###
/shardis-frontend/build/

/shardis-frontend/node/
/shardis-frontend/node_modules/
/shardis-frontend/npm-debug.log*
/shardis-frontend/yarn-error.log*

/shardis-frontend/dist/
/shardis-frontend/out-tsc/

/shardis-frontend/e2e/*.js
/shardis-frontend/e2e/*.map

/shardis-frontend/coverage/

/shardis-frontend/src/main/resources/static/

/shardis-frontend/documentation/

### shardis-webapp ###
/shardis-webapp/build/

### shardis-common ###
/shardis-common/build/
