<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <span class="title">Shardis project</span>
      </a>
    </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <nav class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/']" [routerLinkActive]="'/active'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/login']" [routerLinkActive]="'/login'">Login</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <h1>
        {{title}}
      </h1>
      <div>
        <label>
          <input type="text" [(ngModel)]="title"/>
        </label>
      </div>
      <div>
        <pre>{{ userData$ | async | json}}</pre>
      </div>
      <div>
        <shardis-counter-page></shardis-counter-page>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
